
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>


    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Cloud Secure Storage</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/jquery-3.3.1.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <title>文件下载链接</title>

    <title>文件下载链接地址</title>

</head>
<body>
<!-- 顶栏 -->
<div th:insert="~{fragments/header :: header}"></div>
<div class="container col-md-8 col-sm-offset-2 text-center">

    <table class="table table-bordered table-striped">
        <div id="tf-contact">
            <div class="container">

                <h2>文件下载</h2>
                <hr/>

                <div class="space"></div>
                <div class="row">
                    <div id="uploadFile" class="col-md-6 col-md-offset-3">
                        <form id="uploadForm" onsubmit="return check_submit();" enctype="multipart/form-data"  >

                            <div>
                                <!-- 如果用户列表非空 -->
                                <a th:if ="${username !='' }">
                                    <input type ="hidden"  class="form-control"  id="username" name="username" th:value="${username}" />
                                </a>
                            </div>
                            <div>
                                <input type ="hidden"  class="form-control"  id="downloadUrl" name="downloadUrl" th:value="${downloadUrl}" />
                            </div>
                            <div>
                                <!-- 如果用户列表非空 -->
                                <label>如果下载未开始，请点击链接下载:</label>
                                <br/>
                                <a th:if ="${downloadUrl !='' }">
                                    <a th:href="${downloadUrl}" th:download="${fileName}"> downLoad Linked List. </a>
                                </a>

                               <!-- <a href="#" onClick="downLoad()">点击下载</a>-->
                            </div>
                        </form>
<!--                        <div class="form-group">
                            <button type="submit"  onclick="doUpload();" class="btn btn-primary my-btn dark">下载链接</button>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>

    </table>
</div>

</body>

<script th:src="@{/js/jquery-3.3.1.js}"></script>
<script th:src="@{/js/vue.js}"></script>
<script th:src="@{/js/vue-resource.js}"></script>
<script th:src="@{/js/AJAX.js}"></script>
<script th:src="@{https://cdn.bootcss.com/parsley.js/2.8.1/parsley.js}"></script>
<script type='text/javascript'>
    function download(){
        var downloadUrl = $('#downloadUrl').val();
        href=downloadUrl;
    }
</script>
</html>
