<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	 <footer th:fragment="footer">
		 <nav id="tf-footer">
			 <div class="container">
				 <div class="pull-left">
					 <p>2017 © VellerZheng. All Rights Reserved.<span>浙ICP备17023615号.&nbsp</span> <img width=13 height=16 src="images/img/Copyright_01.png"> More Projects <a href="http://blog.csdn.net/vellerzheng/" target="_blank" title="CSDN">CSDN</a> - Collect from <a href="http://blog.csdn.net/vellerzheng" title="CSDN" target="_blank">CSDN</a></p>
				 </div>
				 <div class="pull-right">
					 <ul class="social-media list-inline">
						 <li><a href="https://www.facebook.com/"><span class="fa fa-facebook"></span></a></li>
						 <li><a href="https://twitter.com/"><span class="fa fa-twitter"></span></a></li>
						 <li><a href="https://www.pinterest.com/"><span class="fa fa-pinterest"></span></a></li>
						 <li><a href="https://gsuite.google.com/"><span class="fa fa-google-plus"></span></a></li>
						 <li><a href="http://weibo.com/"><span class="fa fa-weibo"></span></a></li>
						 <li><a href="https://www.behance.net/"><span class="fa fa-behance"></span></a></li>
					 </ul>
				 </div>
			 </div>
		 </nav>
	 </footer>

</body>
</html>

